<p>
    The large golden domes of the Maharishi University are an incongruous landmark for a sleepy Midwestern town close to the Mississippi river.
    Even more unlikely are the scenes that take place beneath them as students from across the globe gather twice a day to meditate and send out cosmic vibes of spiritual energy that they believe can heal a stress-stricken world.
    <br/>
    
    As the Maharishi and his followers grapple with the ramifications, the Fairfield newspaper summed up the mood of the community: 'The university cannot afford to ignore reality. It has an obligation to step back and take a good, hard look inside - for the sake of its students, its movement, its town and itself.'
</p>
